{% extends "Lonewalker/base.html" %}
{% load static %}
{% block content %}
    <div class="movie-card-container">
        {% for merch in merchandise %}
            <div class="movie-card" data-video="{% static 'storage/' %}">
                {% if merch.merch_image %}
                    <img src="{{ merch.merch_image.url }}" alt="{{ merch.title }} poster" class="poster">
                {% else %}
                    <img src="{% static 'images/' %}" alt="Default poster" class="poster">
                {% endif %}
                <div class="movie-details">
                    <h3 class="movie-title">{{ merch.title }}</h3>
                </div>
                <div class="movie-details">
                    <h3 class="movie-title">£{{ merch.price }}</h3>
                </div>
            
            
            </div>
        {% endfor %}
    </div>

<style>


    .nav-links a {
        text-decoration: none;
        font-weight: bold;
    }

    .movie-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 15px;
        gap: 60px; /* Set gap between movie cards */
    }

    .movie-card {
        width: 260px; /* Set fixed width for the card */
        min-width: 260px; /* Ensure the width does not shrink */
        max-width: 260px; /* Ensure the width does not expand */
        height: 260px; /* Set fixed height for the card */
        min-height: 260px; /* Ensure the height does not shrink */
        max-height: 260px; /* Ensure the height does not expand */
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 9px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
    }

    .movie-card img {
        border-radius: 18px;
        width: calc(100% ); /* Adjust width to fit within the card considering padding */
        height: calc(100% ); /* Adjust height to fit within the card considering padding and text container */
        object-fit: cover;
        padding: 10px; /* Add padding around the image */
        box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
    }

    .movie-details {
        padding: 10px;
        text-align: center;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px; /* Fixed height for the text container */
    }

    .movie-title {
        color: #9b4c00;
        font-size: 16px; /* Adjust font size */
        font-weight: 400;
        margin: 0;
        line-height: 1.2em; /* Adjust line height for better fit */
    }

    .movie-card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .poster {
        display: block;
    }

    .movie-card.hovered .poster {
        display: none;
    }

    .movie-card.hovered .video-preview {
        display: block;
    }
</style>
{% endblock %}
